<li id="<%= dom_id question %>" class="<%= status_class(question) %>">
  <h4><%= question.title %></h4>

  <p>
    <%= question.body %>
  </p>

  <% if user_signed_in? %>
    <% if current_user.can_answer?(question) %>
      <%= link_to "Answer this question", new_answer_path(question_id: question.id) %>
    <% end %>
  <% else %>
    <p>
      <strong>Asked by:</strong> <%= question.user.name %>
    </p>
  <% end %>

</li>
