<% user_name = question.user.nil? ? "(anonymous)" : question.user.name %>

<div id="<%= dom_id question %>" class="question <%= status_class(question) %>">
  <span class="question-id">ID: <%= question.id %></span>
  <h3><%= question.title %></h3>
  <p>Category: <strong><%= question.category.name %></strong></p>
  <p class="question-body"> <%= question.body %> </p>

  <div class="answers approved">
    <% if question.approved_answers.present? %>
      <h4>Approved answers:</h4>
      <% question.approved_answers.each do |a| %>
        <div class="answer">
          <p>Answer by <strong><%= a.user.name %></strong></p>
          <p><%= a.body %></p>
        </div>
      <% end %>
    <% else %>
      <p>No approved answers.</p>
    <% end %>
  </div>

  <div class="answers proposed">
    <% if question.proposed_answers.present? %>
      <h4>Proposed answers:</h4>
      <% question.proposed_answers.each do |a| %>
        <div class="answer">
          <p>Answer by <strong><%= a.user.name %></strong></p>
          <p>Proposed fee: <strong>£<%= a.payment.amount %></strong></p>
          <%= form_with(model: a.payment) do |form| %>
            <%= form.hidden_field :approved, value: true %>
            <%= form.submit %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>No proposed answers.</p>
    <% end %>
  </div>
</div>
