<h2>Verify Yourself</h2>

<% flash.each do |name, msg| -%>
<%= content_tag :p, msg, class: "flash #{name}" %>
<% end -%>

<%= form_for(@user, url: verify_user_path(@user), method: "POST", html: { class: "account-action" }) do |f| %>
  <div class="field">
    <%= f.label "Verification method:" %><br>
    <% User::VERIFICATION_METHODS.each do |m| %>
      <label>
        <input type="radio" name="verification_method" value="<%= m[:id] %>">
        <%= m[:name] %>
      </label>
      <br>
    <% end %>
    <label>
      <input type="radio" name="verification_method" value="-1">
      Don't you know who I am?!
    </label>
    <br>
  </div>

  <div class="actions">
    <%= f.submit "Verify" %>
  </div>
<% end %>
