<% user_name = question.user.nil? ? "(anonymous)" : question.user.name %>
<% if user_signed_in? %>
  <% user_answer = Answer.where(question_id: question.id).where(user_id: current_user.id).first %>
<% else %>
  <% user_answer = nil %>
<% end %>
<turbo-frame id="tf_<%= dom_id question %>">
  <div id="<%= dom_id question %>" class="question <%= status_class(question) %>">
    <span class="question-id">ID: <%= question.id %></span>
    <h4><%= question.title %></h4>
    <p><%= question.body %> </p>
    <p>Category: <strong><%= question.category.name %></strong></p>
    <p>Asked by: <strong><%= user_name %></strong></p>

    <% if user_answer.nil? %>
      <% if user_signed_in? && current_user.can_answer?(question) %>
        <div class="question-actions">
          <%= link_to "Answer question", new_answer_path(question_id: question.id), class: "button" %>
        </div>
      <% end %>
    <% else %>
      <details>
        <summary>Your answer</summary>
        <p><%= user_answer.body %></p>
      </details>
    <% end %>
  </div>
</turbo-frame>
