<% content_for :title, "Answering question" %>

<h1>Answering question</h1>

<div id="answering-question">
  <span id="answer-question-id">ID: <%= @question.id %></span>
  <h4><%= @question.title %></h2>
  <p><%= @question.body %></p>
</div>

<%= render "form", answer: @answer, question: @question %>

<p class="navigation">
  <%= link_to "â† Return to home page", root_path %>
</p>
