<% content_for :title, "Answering question" %>

<h1>Answering question</h1>

<turbo-frame id="tf_<%= dom_id @question %>">
  <div class="answering-question">
    <span class="question-id">ID: <%= @question.id %></span>
    <h4><%= @question.title %></h2>
    <p><%= @question.body %></p>
  </div>

  <%= render "form", answer: @answer, question: @question %>
</turbo-frame>

<p class="navigation">
  <%= link_to "â† Return to home page", root_path %>
</p>
